<header id="main-header">
  <div>
    <h1>Global Gallery</h1>
  </div>
  <nav id="nav-bar">
    <ul>
      <li>
        <a href="your-gallery">Your Gallery</a>
      </li>
    </ul>
  </nav>
</header>
