<%- include ('includes/head.ejs', { title: 'Your Gallery'}) %> 
<link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/stayle.css" />
    <link rel="stylesheet" href="/styles/new-gallery.css" />
    <link rel="stylesheet" href="/styles/user-gallery.css">
</head>
<body>
    <header id="main-header">
        <div>
          <h1>Global Gallery</h1>
        </div>
        <nav id="nav-bar">
          <ul>
            <li>
              <a href="/home">Home Page</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section id="user-profiles">
          <ul>
            <% for (const foldername of foldersname) { %>
            <li class="user-item">
              <article>
                <img src="<%= foldername.imagePath  %>" alt="The image." />
                <h2><%= foldername.name %></h2>
              </article>
            </li>
            <% } %>
          </ul>
        </section>


      </main>
    </body>
  </html>


   
  
    